<div class="overflow-x-auto p-4 border border-gray-300 rounded-lg">
    <table class="table table-xs">
      <thead>
        <tr>
          <th></th> 
          <th>Especie</th> 
          <th>Edad</th> 
          <th>Tamaño</th> 
          <th>Personalidad</th> 
          <th>Necesidades Especiales</th> 
        </tr>
      </thead> 
      <tbody>
        <tr>
          <tr *ngFor="let animal of datos">
            <th>{{ animal.id }}</th>
            <td>{{ animal.especie }}</td>
            <td>{{ animal.edad }}</td>
            <td>{{ animal.tamano }}</td>
            <td>{{ animal.personalidad }}</td>
            <td>{{ animal.necesidadesEspeciales }}</td>
        </tr>
      </tbody> 
      <tfoot>
        <tr>
          <th></th> 
          <th>Especie</th> 
          <th>Edad</th> 
          <th>Tamaño</th> 
          <th>Personalidad</th> 
          <th>Necesidades Especiales</th>
        </tr>
      </tfoot>
    </table>
  </div>